<mat-card class="home">
  <mat-card-header>
    <mat-card-title>cool logo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <p class="bold">Well done!</p>
    <p>Think of a nickname </p>
    <p>Keep it in your mind </p>
    <p>Oh, I almost forgot... to start playing - contact Kiy ;) </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goAgain()">Go again</button>
  </mat-card-actions>
</mat-card>
