<mat-card class="reminder mat-elevation-z0">
  <mat-card-content *ngIf="option !== 'settings'; else settings">
    <p>The {{numbers[option]}}:</p>
    <p class="option"><span class="bold">{{option}}</span></p>
    <p>{{reminder}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="hideReminder()">Got it</button>
  </mat-card-actions>

  <ng-template #settings>
    <mat-card-content>
      <p>{{reminder}}</p>
      <p>{{remindersForSetting[0]}}</p>
      <p>{{remindersForSetting[1]}} <span class="bold">{{option}}</span></p>
    </mat-card-content>
  </ng-template>
</mat-card>
