@import url('https://fonts.googleapis.com/css?family=Roboto|Vollkorn|Waiting+for+the+Sunrise&display=swap');
@import '../../theme';

.home {
  mat-card-header {
    display: flex;
    justify-content: center;

    mat-card-title {
      font-family: 'Waiting for the Sunrise', cursive;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 300;
      font-size: 80px;
      line-height: 132px;
      color: mat-color($primary, 200);

      @media(max-width: 400px) {
        font-size: 60px;
      }

      @media(min-width: 600px) {
        margin-top: 80px;
        font-size: 120px;
      }
    }

    mat-card-subtitle {
      font-family: 'Vollkorn', serif;
      font-style: italic;
      font-weight: normal;
      font-size: 28px;
      line-height: 39px;
      text-align: right;
      color: mat-color($primary, 200);

      @media(max-width: 400px) {
        font-size: 20px;
      }

      @media(min-width: 600px) {
        font-size: 36px;
      }
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      padding: 0 5px;

      @media(max-width: 400px) {
        font-size: 18px;
      }

      @media(min-width: 600px) {
        text-align: center;
        font-size: 32px;
      }
    }

    .bold {
      font-weight: bold;
    }

    mat-divider {
      margin: 20px 0;
      width: 85%;
      border: 1px solid mat-color($primary, 200);
      align-self: center;

      @media(min-width: 600px) {
        margin: 80px 0;
      }
    }

    .rotate {
      transform: rotate(-4deg);
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    button {
      background: mat-color($primary, 200);
      color: mat-color($accent, 50);
      padding: 15px 40px;
      border: none;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      border-radius: 0;

      @media(max-width: 400px) {
        padding: 10px 20px;
        font-size: 28px;
      }
    }
  }
}
