<mat-card [class.dark]="isDarkTheme" class="settings mat-elevation-z0">
  <app-reminder *ngIf="isReminder"
                [reminder]="currentReminder"
                [remindersForSetting]="remindersForSetting"
                [option]="currentOption"
                (onHideReminder)="hideReminder()"></app-reminder>
  <mat-card-content class="image-wrapper" [ngStyle]="{'background': settingsService.currentBackgroundColor}">
    <img
      mat-card-image
      src="assets/images/{{optionsNames[optionsNames.length - 1]}}/{{currentOptions[optionsNames[0]]}}{{currentOptions[optionsNames[1]]}}.png"
      alt="Your hero"/>
  </mat-card-content>
  <mat-card-content class="mat-app-background">
    <mat-radio-group aria-labelledby="radio-group-label">
      <label id="radio-group-label">Theme:</label><br>
      <div class="mat-radio-buttons-wrapper">
        <mat-radio-button class="radio-button" value="light" (change)="changeTheme($event)" checked="true">
          Day
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="dark" (change)="changeTheme($event)">
          Night
        </mat-radio-button>
      </div>
    </mat-radio-group>
    <div class="color-picker-wrapper">
      <label id="color-picker-label" class="color-picker-label">Background:</label><br>
      <input style="visibility: hidden" [(colorPicker)]="currentColor"
             [style.background]="currentColor"
             (colorPickerChange)="changeBackgroundColor($event)"
             [cpToggle]="true"
             [cpDisableInput]="true"
             cpDialogDisplay="inline"
             class="background-input"/>
    </div>
  </mat-card-content>
  <mat-card-actions class="mat-app-background">
    <button mat-button (click)="saveSettings()" mat-raised-button color="primary">Save <fa-icon [icon]="faCog"></fa-icon></button>
  </mat-card-actions>
</mat-card>
